* {

}

body {
	background: #eee;
}

.add-show {
	margin-right: 15px;
}

.container-fluid {
	max-width: 980px;
}

.progress {
	margin: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 5px;
}

.series {
	height: 150px;
	background: white;
	margin-bottom: 15px;

	/* less ;) */
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.series-inner {
	height: 150px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*
	background: linear-gradient(top, #fff 0%, #ccc 85%, #ccc 100%);
	background: -moz-linear-gradient(top, #fff 0%, #ccc 85%, #ccc 100%);
	background: -webkit-linear-gradient(top, #fff 0%, #ccc 85%, #ccc 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ccc 85%, #ccc 100%);
	background: -o-linear-gradient(top, #fff 0%, #ccc 85%, #ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#ccc,GradientType=1);
	*/
}

.series-inner-title{
	padding: 90px 0px 0px 0px;
} 

.series-inner-title p, .series-inner-title div {
	color: white;
}

.left { float: left; margin-left:10px; }
.right { float: right; margin-right:10px; margin-top: 20px; }
.clear { clear: both; }

.left > h2 {
	margin: 0px;
	padding: 0px;
}

/* BUTTON FUNCTIONALITY */
.label:hover {
cursor: pointer;
}

/* INSTANT SEARCH */
#the-basics {
display: inline-block;
}
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}