* {

}

body {
	background: #eee;
}

#brand {
	position: absolute;
	float: left;
	z-index: 2;

}

/* Fix für Bootstrap */
.navbar-brand {
	margin-left: -15px;
	width: 130px;
	height: 50px;
}

.add-show {
	margin-right: 15px;
}

.container-fluid {
	max-width: 980px;
}

/* Progressbar */
.progress {
	height: 10px;
	margin: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}

.series {
	height: 150px;
	background: white;
	background-size: 100%;
	margin-bottom: 30px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.series-inner {
	height: 150px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.series-inner-title{
	padding: 0px;
} 

.series-inner-title .left {
	padding-left: 10px;
}

.series-inner-title .right {
	position: absolute;
	top: 117px;
	right: 25px;
}

.series-inner-title .left p, .series-inner-title .left h2 {
	color: white;
	text-shadow: 0px 1px rgba(0,0,0,0.5);
}

/* Clearfix */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }



/* Login */
.login {
	width: 50%;
	margin: auto;
}

#search {
	width: 100%;
	float: right;
	margin-top: 8px;
	padding-left: 130px;
	z-index: 1;
}

#search_bar {
	width: 10%;
	max-width: 400px;
	opacity: 0;
	
	float: right;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.active#search_bar {
	opacity: 1;
	width: 100%;
}

#search_button {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* search results */
.searchResult  p {
display: inline-block;
  margin: 5px;
}
.searchResult  p:nth-child(1) {
  min-width: 60px;
  }
  .searchResult  p:nth-child(2) {
  min-width: 250px;
  }
/* season overview list */
.season_list {
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	border-radius: 4px;
}

.season_list > div {
	padding: 10px 15px;
	margin: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-shadow: 0 -1px 0 #286090;
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
	background-repeat: repeat-x;
	border-color: #2b669a;

}
  
.season_list > div h4 {
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	padding: 3px 0px;
	margin: 0px;
}

  
.season_list li {
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.season_list li:hover {
	cursor: pointer;
	background-color: #f6f6f6;
}

.season_list li > h4 {
	padding: 10px 15px;
	margin: 0px;
	color: #555;
	font-weight: normal;
	font-size: 14px;
}

.season_list div > input {
	position: absolute;
	top: 12px;
	right: 26px;
}
  
.season_list li > input{
	position: absolute;
	top: 7px;
	right: 10px;
}

.season_list li > p {
	padding: 0px 15px;
	display: none;
}

.season_list li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.season_list li:first-child {
	border-top: 0px;
}

/* BUTTON FUNCTIONALITY */
.label:hover {
	cursor: pointer;
}
.label-success  > .plusOne, .label-warning > .glyphicon {
display: none;
}
.label-warning > .plusOne, .label-success > .glyphicon {
display: inline;
}

/*
	Neue Styles für längere Episodennamen
*/
.left > h2 { margin: 0px; padding: 0px; }

.left > h2.normal {
	font-size: 30px;
	margin-top: 90px;
}

.left > h2.small {
	font-size: 24px;
	padding-top: 6px;
	margin-top: 90px;
	/* Gibt dir ein paar Zeichen mehr */
}

.left > p.normal {

}

.left > p.small {

}

/*
	Welcome Page
*/

#welcomeText {
	text-align: center;
	margin-bottom: 20px;
}






/*
INSTANT SEARCH
KANN EIGENTLICH ALLES WEG
*/
#the-basics {
	display: none;
} /* Is hidden from the beginning, only appears when add button is clicked */

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}