/*
	TVShowApp CSS File
*/

html{
	height: 100%;
}

body {
	background: #eee;
	height: 100%;
}

/* 
	Header Container which contains "TVShopApp"
*/
#brand {
	position: absolute;
	float: left;
	z-index: 2;

}

/* 
	Just a Bootstrap Fix
*/
.navbar-brand {
	margin-left: -15px;
	width: 130px;
	height: 50px;
}

.add-show {
	margin-right: 15px;
}

.container-fluid {
	max-width: 980px;
}

/* Progressbar */
.progress {
	height: 10px;
	margin: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}

.series {
	height: 150px;
	background: white;
	background-size: 100%;
	margin-bottom: 30px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.series-inner {
	height: 150px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px inset;

	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%);
}

.series-inner-title{
	padding: 0px;
	background: ();
} 

.series-inner-title .left {
	padding-left: 10px;
	padding-right: 60px;
	  width: 100%;
}

.series-inner-title .right {
}

#removeSeries {
	position: absolute;
	top: 10px;
	right: 15px;
}

#updateProgress {
	position: absolute;
	top: 117px;
	right: 25px;
}

#removeSeries .glyphicon {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	opacity: 1;
}

#removeSeries:hover .glyphicon {
	color: red;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	opacity: 1;
}

.series-inner-title .left p, .series-inner-title .left h2 {
	color: white;
	text-shadow: 0px 1px rgba(0,0,0,0.5);
}

/* Clearfix */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }



/* Login */
.login {
	width: 50%;
	margin: auto;
}

#search {
	width: 100%;
	float: right;
	margin-top: 8px;
	padding-left: 130px;
	z-index: 1;
}

#search_bar {
	width: 10%;
	max-width: 400px;
	opacity: 0;
	float: right;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.active#search_bar {
	opacity: 1;
	width: 100%;
}

#search_button {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* search results */
.searchResult  p {
display: inline-block;
  margin: 5px;
}
.searchResult  p:nth-child(1) {
  min-width: 60px;
  }
  .searchResult  p:nth-child(2) {
  min-width: 250px;
  }
/* season overview list */
.season_list {
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	border-radius: 4px;
}

.season_list > div {
	padding: 10px 15px;
	margin: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-shadow: 0 -1px 0 #286090;
	background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
	background-repeat: repeat-x;
	border-color: #2b669a;

}
  
.season_list > div h4 {
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	padding: 3px 0px;
	margin: 0px;
}

  
.season_list li {
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.season_list li:hover {
	background-color: #f6f6f6;
}

.season_list li > h4 {
	padding: 10px 15px;
	margin: 0px;
	color: #555;
	font-weight: normal;
	font-size: 14px;
}

.season_list div > input {
	position: absolute;
	top: 12px;
	right: 26px;
}
  
.season_list li > input{
	position: absolute;
	top: 7px;
	right: 10px;
}

.season_list li > p {
	padding: 0px 15px;
	display: none;
}

.season_list li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.season_list li:first-child {
	border-top: 0px;
}

/* BUTTON FUNCTIONALITY */
.label:hover {
	cursor: pointer;
}
.label-success  > .plusOne, .label-warning > .glyphicon {
display: none;
}
.label-warning > .plusOne, .label-success > .glyphicon {
display: inline;
}

/*
	Neue Styles für längere Episodennamen
*/
.left > h2 { margin: 0px; padding: 0px; }

.left > h2.normal {
	font-size: 30px;
	margin-top: 90px;
	white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.left > h2.small {
	font-size: 24px;
	padding-top: 6px;
	margin-top: 90px;
	/* Gibt dir ein paar Zeichen mehr */
}

.left > p.normal {
white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.left > p.small {

}

/*
	Welcome Page
*/

#welcomeText {
	text-align: center;
	margin-bottom: 20px;
}

/* btnright */
.btnright {
	position: absolute;
	top: 14px;
	right: 9px;
}


#alertBox {
	/* display: none; */
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.progress {
	background: #e6e6e6;
	position: relative;
}
.progress .epi {
  float: left;
  height: 100%;
  
  

}

.progress .epi.watched {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;

}




#verify {
	height: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* No merge with button */
.searchResult .list-group .list-group-item {
	padding-right: 40px;
}

/* Remove Button */
.removeButton {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  
  }
  
  .removeButton:hover {
  cursor: pointer;
  }



.episode-checkbox {
/*  height: 32px;
  color:#fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
}

.episode-name{
   /*padding:7px;*/
}

.nowrap {
	white-space: nowrap;
}


.season_list div.label {
	padding: 0px;
}

.season_list div.label h4{
	height:21px;
}