<nav class="navbar navbar-default">
	<div class="container-fluid">
			<!-- Brand Name - TVShowApp -->
		<div id="brand">
			<a class="navbar-brand">TVShowApp</a>
		</div>
		<div class="pull-right backbutton">
			<a href="#/user/{{token}}"><span class="glyphicon glyphicon-arrow-left"></span></a>
		</div>
    </div>
</nav>
<!-- End of Top Navigation -->

<div class="container-fluid">
	
	<div class="row">
		<card ng-if="userSeries" card="userSeries" small="false"></card>
	</div>
	
	<accordion>
	    <accordion-group heading="Details" is-open="true" is-disabled="status.isFirstDisabled">
		<div class="series-details">
			<p>{{seriesDetails.Overview}}</p>	
			<p>actors: {{seriesDetails.Actors}}</p>
			<p>genre: {{seriesDetails.Genre}}</p>
			<p>rating: {{seriesDetails.Rating}}</p>
		</div>
	    </accordion-group>
	</accordion>
	
	<div class="row">
		<accordion close-others="false">
			<accordion-group heading="Staffel {{staffel}}" ng-repeat="(staffel, episodes) in userSeries.episodes | groupBy: 'sNr'">
				<ul class="col-xs-12 col-sm-6 season_list" >
					<div><h4>Staffel {{staffel}}</h4></div>
					<li ng-repeat="episode in episodes">
						<div class="row container-fluid">
							<div class="col-xs-1 col-sm-1 col-md-1 cursor-pointer" ng-click="showInformation(episode)"><h4>{{episode.eNr}}:</h4> </div>
							<div class="col-xs-9 col-sm-9 col-md-9 cursor-pointer" ng-click="showInformation(episode)"><h4 >{{episode.n}}</h4></div>
							<div class="col-2-fixed label" ng-class="{'label-success' : episode.w, 'label-warning' : !episode.w}" ng-click="setEpisodeWatched(episode)">
								<h4 ng-if="!episode.w"><span > <b>+1</b> </span></h4>
								<h4 ng-if="episode.w"> <span class="glyphicon glyphicon-ok "></span></h4>
							</div>
						</div>
					</li>
				</ul>
			</accordion-group>
		</accordion>
	</div>
</div>