<nav class="navbar navbar-default">
	<div class="container-fluid">

			<!-- Brand Name - TVShowApp -->
			<div id="brand">
				<a class="navbar-brand">TVShowApp</a>
			</div>

			<div class="col-xs-2 col-sm-2 col-md-2 pull-right backbutton">
				<a href="#/user/{{token}}"><span class="glyphicon glyphicon-arrow-left"></span></a>
			</div>


    </div>
</nav>
<!-- End of Top Navigation -->

<div class="container-fluid">

<!-- Header -->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="progress">
				<div class="epi" ng-repeat="episode in userSeries.episodes" ng-class="{'watched': episode.w, 'border-left': userSeries.episodes[$index+1].sNr != episode.sNr  && $index < userSeries.episodes.length - 1}" style="{{userSeries.episodeWidth}}"></div>
			
			</div>
			<div class="series" style="background-image:url({{userSeries.bannerUrl}});background-size:100%;">
				<div class="series-inner">
					<div class="series-inner">
					<div class="series-inner-title">
						<div class="left">
							<h2 class="normal">{{seriesDetails.SeriesName}}</h2>
							<p class="normal">{{userSeries.curSeasonNr}}/{{userSeries.curEpisodeNr}}: {{userSeries.curEpisodeName}}</p>
						</div>
						<div class="right"> 
								
								<h4 id="updateProgress">
									<span ng-class="card.allWatched ? 'label-success' : 'label-warning'" class="label noselect" ng-click="progressBarUpdate(userSeries)">
										<span class="plusOne">+1</span>
										<span class="glyphicon glyphicon-ok"></span>
									</span>
			
								</h4>
							</div> 
						<!-- <div class="right">
							<h4><span class="label label-warning">+1</span></h4>
						</div> -->
						<div class="clear"></div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>


	<p class="overview">{{seriesDetails.Overview}}</p>


	<div class="row">

		

			<ul class="col-xs-12 col-sm-6 season_list" ng-repeat="(staffel, episodes) in userSeries.episodes | groupBy: 'sNr'">
				<div>
					<h4>Staffel {{staffel}}</h4>
				<!-- 	<input type="checkbox"> -->
				</div>
				<li ng-repeat="episode in episodes">
					<div class="row container-fluid">
						<div class="col-xs-1 col-sm-1 col-md-1"><h4>{{episode.eNr}}:</h4> </div>
						<div class="col-xs-9 col-sm-9 col-md-9"><h4 >{{episode.n}}</h4></div>
						<div class="col-2-fixed label" ng-class="{'label-success' : episode.w, 'label-warning' : !episode.w}" ng-click="setEpisodeWatched(episode)">
							<h4 ng-if="!episode.w"><span > <b>+1</b> </span></h4>
							<h4 ng-if="episode.w"> <span class="glyphicon glyphicon-ok "></span></h4>
					</div>
				</li>
			</ul>

		
	</div>
</div>

<!-- 
<div ng-repeat="(key, value) in season | groupBy: 'season'">
  <h1>Season: {{ key }}</h1>
  <p ng-repeat="episode in value">
    episode: {{ episode.name }} 
  </p>
</div> -->