<!-- Top Navigation -->
<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="right">
			<!-- Logo -->
			<div id="brand">
				<a class="navbar-brand">TVShowApp</a>
			</div>
			<!-- Search -->
			<form ng-submit="search()">
				
				<!-- Search Field -->
				<div id="search" class="input-group" style="visibility:hidden;">
					<input id="search_bar" type="text" class="form-control" placeholder="Search for..." ng-model="searchString">
					<span class="input-group-btn">
						<button id="search_button" class="btn btn-default" type="button" ng-click="search()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</span>
				</div>

			<!-- List of found series -->
			</form>
		</div>

    </div>
</nav>
<!-- End of Top Navigation -->

<div class="container-fluid" >

	<div class="alert alert-danger" id="alertBox" role="alert" ng-show="err">{{err}}</div>

	<div class="alert alert-success" role="alert">
		<p><strong>You have mail!</strong><br>
		Please check your mail account and click on the link inside the mail you just received from us</p>
	</div>

	<!--<script type="text/javascript" src="js/main.js"></script>-->
	
</div>










