<!-- Top Navigation -->
<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div>
			<!-- Brand Name - TVShowApp -->
			<div id="brand">
				<a class="navbar-brand">TVShowApp</a>
			</div>

			<!-- Search -->
			<form ng-submit="search()">
				
			<!-- Search Field -->
			<div id="search" class="input-group">
				<input id="search_bar" type="text" class="form-control" placeholder="Search for..." ng-model="searchString">
				<span class="input-group-btn">
					<button id="search_button" class="btn btn-default" type="button" ng-click="search()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</span>
			</div>

			<!-- List of found series -->
			</form>
		</div>

    </div>
</nav>
<!-- End of Top Navigation -->

<div class="container-fluid" >

	<div class="alert alert-danger" id="alertBox" role="alert" ng-show="err" ng-if="err">{{err.error}}</div>

	<div id ="searchResultList" class="row">
		<div ng-repeat="result in searchResults">

			<div class="searchResult col-xs-12 col-sm-6 col-md-4">
				<ul class="list-group">
					<li class="list-group-item">
						<p>{{result.SeriesName}}</p>
				  		<button type="button" class="btn btn-default btn-xs btnright" ng-click="addSeriesToMyList(result.id)">
							<span id="{{result.id}}" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<!--
		Alert Dialog
		Double Div is a short hack, otherwise the div would be visible with page load.
	-->
	<div style="display:none;">
		<div id="dialog" title="No Search Results">
	  		<p>Sorry...we are not able to receive any search results from thetvdb.com</p>
		</div>
	</div>
	<!--
		Alert Dialog
		Mostly useless because it is shown in the error
	-->
	<div style="display:none;">
		<div id="dialog2" title="No Search Results">
	  		<p>Sorry...but you already have this series in your list!</p>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="card in cards">
			
			<div id="{{card._id}}" class="col-xs-12 col-sm-6 col-md-4">
				

				<div class="progress">
				
					<div class="epi" ng-repeat="episode in card.episodes" ng-class="{'watched': episode.w, 'border-left': card.episodes[$index+1].sNr != episode.sNr  && $index < card.episodes.length - 1}" style="{{card.episodeWidth}}"></div>					
				</div>
				<div class="series" style="background-image:url({{card.bannerUrl}});"> 
					<div class="series-inner"> 
						<div class="series-inner-title"> 
							<div class="left"> 
								<h2 class="normal"><a href="#/details/{{token}}/{{card.id}}">{{card.name}}</a></h2> 
								<p class="normal episode_nr_and_title">{{card.curSeasonNr}}/{{card.curEpisodeNr}}: {{card.curEpisodeName}}</p> 
							</div>
							<div class="right"> 
								<h4 id="removeSeries">
									<span ng-class="" class="removeButton noselect" ng-click="removeSeries(card)"> <!-- removeSeriesFunction -->
										<span class="glyphicon glyphicon-remove"></span>
									</span>								
								</h4>
								<h4 id="updateProgress">
									<span ng-class="card.allWatched ? 'label-success' : 'label-warning'" class="label noselect" ng-click="progressBarUpdate(card)">
										<span class="plusOne">+1</span>
										<span class="glyphicon glyphicon-ok"></span>
									</span>
			
								</h4>
							</div> 
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/main.js"></script>
</div>	