<!-- Top Navigation -->
<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="right">
			<!-- Brand Name - TVShowApp -->
			<div id="brand">
				<a class="navbar-brand">TVShowApp</a>
			</div>

			<!-- Search -->
			<form ng-submit="search()">
				
			<!-- Search Field -->
			<div id="search" class="input-group">
				<input id="search_bar" type="text" class="form-control" placeholder="Search for..." ng-model="searchString">
				<span class="input-group-btn">
					<button id="search_button" class="btn btn-default" type="button" ng-click="search()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</span>
			</div>

			<!-- List of found series -->
			</form>
		</div>

    </div>
</nav>
<!-- End of Top Navigation -->

<div class="container-fluid" >

	<div id ="searchResultList" class="row">
		<div ng-repeat="result in searchResults">

			<div class="searchResult col-xs-12 col-sm-6 col-md-4">
				<ul class="list-group">
					<li class="list-group-item">
						<p>{{result.SeriesName}}</p>
				  		<button type="button" class="btn btn-default btn-xs btnright" ng-click="addSeriesToMyList(result.id)">
							<span id="{{result.id}}" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<!--
		Alert Dialog
		Double Div is a short hack, otherwise the div would be visible with page load.
	-->
	<div style="display:none;">
		<div id="dialog" title="No Search Results">
	  		<p>Sorry...we are not able to receive any search results from thetvdb.com</p>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="card in cards">
			
			<div id="{{card._id}}" class="col-xs-12 col-sm-6 col-md-4">
				<div class="progress">
					<div class="progress-bar" ng-class="card.percWatched < 100 ? 'progress-bar-warning' : 'progress-bar-success'" role="progressbar" aria-valuenow="{{ card.percWatched }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ card.percWatched }}%;">
					</div>
				</div>
				<div class="series" style="background-image:url({{card.bannerUrl}});"> 
					<div class="series-inner"> 
						<div class="series-inner-title"> 
							<div class="left"> 
								<h2 class="normal">{{card.name}}</h2> 
								<p class="normal episode_nr_and_title">{{card.curEpisodeNr}}: {{card.curEpisodeName}}</p> 
							</div>
							<div class="right"> 
								<h4 id="removeSeries">
									<span ng-class="" class="label noselect" ng-click=""> <!-- removeSeriesFunction -->
										<span class="glyphicon glyphicon-remove"></span>
									</span>								
								</h4>
								<h4 id="updateProgress">
									<span ng-class="card.percWatched < 100 ? 'label-warning' : 'label-success'" class="label noselect" ng-click="progressBarUpdate(card._id, card.incrementAmount)">
										<span class="plusOne">+1</span>
										<span class="glyphicon glyphicon-ok"></span>
									</span>
			
								</h4>
							</div> 
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/main.js"></script>
</div>
	